.content {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    -ms-flex-item-align: center;
    align-self: center;
}

.content a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(35%,rgba(255,215,0,.4)),color-stop(35%,transparent));
    background: linear-gradient(to top,rgba(255,215,0,.4) 35%,transparent 35%)
}

.content a:hover {
    background: gold
}

@supports (display: grid) {
    .content {
        display:grid;
        grid-template-columns: [full-start] minmax(1em,1fr) [main-start] minmax(0,30em) [main-end] minmax(1em,1fr) [full-end]
    }

    .content>* {
        grid-column: main
    }

    .content .wide,.content pre {
        grid-column: full
    }

    .content>:not(img),.content>img:not(.wide) {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0
    }
}

body:not(.home) {
    min-height: 100vh;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}