p {
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 112.5%;
    line-height: 1.4;
    color: #000
}

.content {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    -ms-flex-item-align: center;
    align-self: center;
}

a:not(.nav) {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(35%,rgba(255,215,0,.4)),color-stop(35%,transparent));
    background: linear-gradient(to top,rgba(255,215,0,.4) 35%,transparent 35%)
}

a:hover:not(.nav) {
    background: gold
}

@supports (display: grid) {
    .content {
        display:grid;
        grid-template-columns: [full-start] minmax(1em,1fr) [main-start] minmax(0,30em) [main-end] minmax(1em,1fr) [full-end]
    }

    .content>* {
        grid-column: main
    }

    .content .wide,.content pre {
        grid-column: full
    }

    .content>:not(img),.content>img:not(.wide) {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0
    }
}


// Grid
// $column-width: 8vw;
// $gutter: 2vw;

$column-width: 128px;
$gutter: 32px;

$xxsmall-spacer: 4px;
$xsmall-spacer: 8px;
$small-spacer: 16px;
$medium-spacer: 32px;
$large-spacer: 48px;
$xlarge-spacer: 64px;
$xxlarge-spacer: 72px;

$max-width: $column-width * 12;

.page-wrapper {
    max-width: $max-width;
    margin: 0 auto;
    overflow: hidden;
}


// Defining columns
   .column {
       box-sizing: border-box;
       padding: 0 ($gutter/2);
&.nested {
     padding: 0;
 }
}

// Defining offsets
@for $i from 1 to 12 {
    .col-#{$i} {
    @extend .column;
        width: $column-width * $i;
    }
    .offset-#{$i} {
        margin-left: $column-width * $i;
    }
    .offset-neg-#{$i} {
        margin-left: - $column-width * $i;
    }
}

@media screen and (max-width: 1536px) {
$column-width: 112px;
    @for $i from 1 to 12 {
        .col-#{$i} {
            width: $column-width * $i;
            padding: 0 ($gutter/2);
        }
        .offset-#{$i} {
            margin-left: $column-width * $i;
        }

        .offset-neg-#{$i} {
            margin-left: - $column-width * $i;
        }
    }
    .page-wrapper {
        max-width: $column-width * 12;
    }
}

@media screen and (max-width: 1296px)
.col-6 {
    width: 50vw;
    padding: 0 16px;
}

@media screen and (max-width: 1296px) {
$column-width: 10vw;
    @for $i from 1 to 10 {
        .col-#{$i} {
            width: $column-width * $i;
            padding: 0 ($gutter/2);
        }
        .offset-#{$i} {
            margin-left: $column-width * $i;
        }

        .offset-neg-#{$i} {
            margin-left: - $column-width * $i;
        }
    }
    .page-wrapper {
        max-width: $column-width * 12;
    }
}

@media screen and (max-width: 768px) {
$column-width: 10vw;
    @for $i from 1 to 10 {
        .col-#{$i} {
            width: $column-width * $i;
            padding: 0 ($gutter/2);
        }
        .offset-#{$i} {
        // margin-left: $column-width * $i;
            margin-left: 0;
        }
        .offset-neg-#{$i} {
            margin-left: - $column-width * $i;
        }
    }
    .page-wrapper {
        max-width: $column-width * 12;
    }
}


// Mobile screens

@media screen and (max-width: 600px) {
    @for $i from 1 to 12 {
        .col-#{$i} {
            flex-direction: column;
            width: 100vw;
        }
    }
    @for $i from 1 to 12 {
        .offset-#{$i} {
            margin-left: 0;
        }
        .offset-neg-#{$i} {
            margin-left: 0;
        }
    }
}

.bio-text h1 {
    color: $off-black;
}

.about-group {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.social-media-link {
    color: $pink;
    text-align: right;
    &:hover {
        cursor: pointer;
    }
}

.about-module {
    @extend .nested;
    @extend .col-6;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

// Mobile screens
@media screen and (max-width: 768px) {
    .about-group.col-8.nested {
        display: flex;
        flex-direction: column-reverse;
    }
    .social-media.col-1 {
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }
    .bio-text {
        margin-top: $small-spacer;
    }
}

//span {
//    margin: 0;
//    padding: 0;
//    border: 0;
//    vertical-align: initial;
//}
//
//.col-1 {
//    box-sizing: border-box;
//    width: 8vw;
//    padding: 0 16px;
//}
//
//.col-6 {
//    width: 680px;
//}

h1 {
    margin: 10px;
}

span {
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
}

.col-1 {
    box-sizing: border-box;
    width: 4vw;
    //padding: 0 16px;
}

.col-5 {
    width: 35vw;
    padding: 0 16px;
}

.col-8 {
    width: 60vw;
    //margin-left: 20vw;
}

ul {
    list-style: none;
}

.projects-wrapper {
    padding-left: 28vw;
    padding-top: 50px;
    padding-bottom: 90px;
}