body {
    overflow-x: hidden;
}

p {
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 108%;
    line-height: 1.5;
    color: #000;
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    /*-ms-flex-item-align: center;*/
    align-self: center;
}

a:not(.nav) {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(35%,rgba(255,215,0,.4)),color-stop(35%,transparent));
    background: linear-gradient(to top,rgba(255,215,0,.4) 35%,transparent 35%)
}

a:hover:not(.nav) {
    background: gold
}

.bio-text h1 {
    color: #0e1111;
}

.about-group {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.about-module {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

h1 {
    margin: 5px;
    /*padding-bottom: 10px;*/
}

span {
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

h2 {
    font-size: 1.33em;
    font-weight: 600;
    margin-bottom: 8px;

}

.col-1 {
    box-sizing: border-box;
    /*width changes padding between emoji and content */
    width: 3vw;
    padding: 0 16px;
}

.col-5 {
    /*width changes size of about content descriptions*/
    width: 35vw;
    padding: 0 16px;
}

.col-8 {
    width: 80vw;
    /*margin-left: 8vw;*/
}

ul {
    list-style: none;
}

.projects-wrapper {
    padding-left: 28vw;
    padding-bottom: 30px;
}

#portrait {
    height: 260px;
    margin-top: 20px;
    margin-bottom: 30px;
    /*margin: 0 auto 10px;*/
    background-repeat: no-repeat;

    /* IMAGE MUST BE LOADED FROM DIRECTORY CALLED IMAGES, OTHERWISE 403 ERROR */
    background-image: url('../assets/images/p_00.png');
    background-position: center top;
    background-size: 350px 262.5px;
    -webkit-animation: star 5s infinite ease-in-out;
    animation: star 5s infinite ease-in-out;
    animation-delay: -5s;
}

@-webkit-keyframes star {

    16% {
        background-image: url('../assets/images/p_01.png');
    }

    32% {
        background-image: url('../assets/images/p_02.png');
    }

    48% {
        background-image: url('../assets/images/p_00.png');
    }

    64% {
        background-image: url('../assets/images/p_03.png');
    }

    80% {
        background-image: url('../assets/images/p_04.png');
    }

    96% {
        background-image: url('../assets/images/p_05.png');
    }

}

@keyframes star {

    16% {
        background-image: url('../assets/images/p_01.png');
    }

    32% {
        background-image: url('../assets/images/p_02.png');
    }

    48% {
        background-image: url('../assets/images/p_00.png');
    }

    64% {
        background-image: url('../assets/images/p_03.png');
    }

    80% {
        background-image: url('../assets/images/p_04.png');
    }

    96% {
        background-image: url('../assets/images/p_05.png');
    }

}

#portrait .img {
    width: 100%;
    height: auto;
    background-size: contain;
}