
html {
	height: 100%;
}

body {
	font-family: "Courier New", Courier, monospace;
	background: linear-gradient(	#E0FFFF, #FFE4E1);
	height: 100%;
	background-repeat: no-repeat;
  	background-attachment: fixed;
	margin: 0px;
}

h1 {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}

div {
    padding: 15px;
}

p {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	
}

a:link {
  background-color: yellow;
}

a:visited {
  background-color: cyan;
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: hotpink;
} 