
html {
	height: 100%;
}

body {
	font-family: "Courier New", Courier, monospace;
	color: blue;
	height: 100%;
	margin: 0px;
}

h1 {
	color: blue;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	
}

div {
    padding: 15px;
}

p {
	text-align: center;
	color: blue;
	font-family: "Courier New", Courier, monospace;
	
}