
html {
	height: 100%;
}

body {
	height: 100%;
	background-repeat: no-repeat;
  	background-attachment: fixed;
	margin: 0px;
}

h1 {
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
	letter-spacing: 10px;
}

div {
    padding: 15px;
}

p {
	text-align: center;
	font-family: 'Special Elite';
	letter-spacing: 1px;
}

a:link {
  text-decoration: none;
}

a:visited {
  background-color: none;
}

a:hover {
  background-color: none;
}

a:active {
  background-color: none;
} 