/* Mobile display */

@media all and (max-width:768px) {
    .Home--navbar {
        border: solid 1px black;
        border-right: none;
        border-bottom: none;
        position: sticky;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        top: 0px;
        left: 0rem;
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: left top;
        -moz-transform: rotate(0deg);
        -moz-transform-origin: left top;
        -ms-transform: rotate(0deg);
        -ms-transform-origin: left top;
        -o-transform: rotate(0deg);
        -o-transform-origin: left top;
        transform: rotate(0deg);
        transform-origin: left top;
        z-index: 100;
        /* background-color: #eee; */
        width: 100%;
        border-left: none;
    }
    .Home--navbar p {
        border-right: solid 1px black;
        width: 33.3%;
    }
    .Home--leftcol {
        display: none;
    }
    .Home--rightcol {
        left: 0%;
        width: 100%;
        border: none;
        margin-top: 2rem;
    }
    .Home--rightcol {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}