@import './vars.css';
p,
h4 {
    font-size: 0.8rem;
    line-height: 1.3rem;
}

a,
a:visited {
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 currentcolor;
    color: black;
    text-decoration: none;
}

body {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
    /* font-family: var(--home-font-family); */
}

img {
    /* -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; */
    vertical-align: middle;
}

#meimg {
    position: fixed;
    margin-top: 2.5rem;
}

.homeimg {
    width: 120px;
    margin-bottom: 2rem;
}

.Home--intro {
    margin-top: 14rem;
    position: fixed;
}

.bold {
    font-weight: 600;
}

#meimg {
    position: fixed;
    margin-top: 2.5rem;
}

.Experience--header {
    margin-top: 4rem;
}

.Experience--header p {
    font-size: 0.75rem;
    line-height: 1rem;
}

.Home--leftcol {
    width: 325px;
    height: 100vh;
    position: fixed;
    top: 0%;
    margin-left: 3em;
}

.Home--navbar {
    border: solid 1px black;
    border-right: none;
    border-bottom: none;
    position: fixed;
    top: 0%;
    left: 60px;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: right top;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: right top;
    -ms-transform: rotate(270deg);
    -ms-transform-origin: right top;
    -o-transform: rotate(270deg);
    -o-transform-origin: right top;
    transform: rotate(270deg);
    transform-origin: right top;
    z-index: 100;
    /* background-color: #eee; */
}

.Home--navbar p {
    display: inline-block;
    width: 70px;
    height: 1.8rem;
    text-align: center;
    border-right: solid 1px black;
    padding-top: 4px;
    box-sizing: border-box;
    border-bottom: solid 1px black;
}

.Home--navbar a p:hover {
    background: black;
    color: white;
}

.Home--navbar a,
.Home--navbar a:visited,
.Home--navbar a:hover {
    box-shadow: none;
    color: black;
    text-decoration: none;
}

.Home--rightcol {
    min-height: 100%;
    left: 309px;
    border-left: solid 1px black;
    /* background-color: #eee; */
    top: 0%;
    position: absolute;
    transition: all 1s ease;
    margin: 0;
}

.Home--rightcol-content {
    transition: all 1s ease;
    z-index: 40;
}

.thumb-full:hover {
    color: #eee;
    background: #000;
}

.thumb-full {
    width: 50%;
    float: left;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    box-sizing: border-box;
}

.thumb-img {
    width: 100%;
}

.thumb-text {
    padding: 2rem;
}

.clear {
    float: none;
    clear: left;
}

.Copyright {
    position: fixed;
    bottom: 2rem;
}