html {
	height: 100%;
}

body {
	height: 100%;
  	margin: 5%;
}

#monogram {
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 50px;
	width: 25%;
}

#smol-dragon {
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 50px;
	width: 20%;

}

#hi {
	text-align: center;
}

ul {
		font-size: 14px;
		list-style-type: circle;
	line-height: 150%;	
	margin: 20 0 20 0;
	font-family: 'Special Elite';

}

p {
	font-size: 14px;
	line-height: 140%;	
	margin: 20 0 20 0;
	font-family: 'Special Elite';
	text-align: justify;
}

div {
	width: 35%;
	margin: auto;
	margin-top: 38px;
}

a:link {
	text-decoration: none;
  color: #b7ebd4;
  	-o-transition: .5s;
  	-ms-transition: .5s;
  	-moz-transition: .5s;
  	-webkit-transition: .5s;
  	transition: .5s; 
}

a:visited {
  background-color: none;
}

a:hover {
  color: #b7ebd4;
}

a:active {
  background-color: none;
} 

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
	font-family: 'Special Elite';
	font-size: 13px;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #000000;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; 
}

.navigation a:hover {
  color: #b7ebd4;
}

h1 {
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
	font-size: 40px;
	font-weight: normal;
	letter-spacing: 10px;
}


#name {
	/*display: inline-block;*/
	text-align: center;
	padding: 0;
	/*margin: 0;*/
}

#name-div {
	z-index = 2;
	position: absolute;
	margin: 0;
	padding: 0;
	/*display: inline-block;*/
	width: 100%;
	/*top: 0px;*/
	/*left: 0px;*/
}

#homeblurb {
	text-align: center;
}

.socials {
	list-style: none;
	margin: 60px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
}

.socials a {
	text-decoration: none;
	font-size: 19px;
	display: block;
	padding: 10px;
	margin-top: 20px;
	color: #000000;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.socials a:hover {
	color: #f48de6;
}

.cred {
    font-size: 11px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.cred-wrapper {
   position: absolute;
   right: 0;
   left: 0;
   bottom: -340px;
   padding: 0;
   display: flex;
   justify-content: center;
   width: 100%;
}