.Girl-container {
  position: relative;
}

.Girl-diva {
  position: absolute;
  height: 85vh;
  padding-top: 5%;
  left: 25%;
}

.DisplayText {
  font-size: xx-large;
  font-family: "Rowdies", cursive;
}

.Welcome-container {
  position: absolute;
  left: 45%;
  pointer-events: none;
  padding-top: 350px;
  color: #000;
  letter-spacing: 2px;
  line-height: 1.5;
}
