body {
  margin: 0;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  /* font-family: Avenir, "Lato", Helvetica Neue, Helvetica, Arial; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}
