@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Rowdies&display=swap&family=Inconsolata");

* {
  margin: 0;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

code {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
