.Project-container {
  position: absolute;
  margin-top: 16vh;
  margin-left: 18vw;
  width: 100%;
}

.Project-img-container {
  position: absolute;
  width: 100%;
}

.Project-img {
  width: 28vw;
  position: absolute;
  border-radius: 4px;
  box-shadow: rgba(2, 12, 27, 0.7) 12px 20px 30px -15px;
  z-index: 1;
}

.Project-board {
  z-index: 2;
  position: absolute;
  margin-top: 100px;
  width: 400px;
  left: 30vw;
  text-align: right;
  padding: 25px;
  border-radius: 3px;
  font-size: 17px;
}

.Project-text {
  padding: 10px 0;
}

.Project-header {
  font-size: 28px;
  font-family: "Rowdies", cursive;
}

.Project-icon {
  margin-top: 15px;
}

.Project-icon:hover {
  opacity: 50%;
  cursor: pointer;
}
