.Project-container {
  padding: 90px 0 400px 0;
}

.Project-container:last-of-type {
  margin-bottom: 100px;
}

.Project-img-container {
  position: absolute;
}

.Project-img {
  width: 480px;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 10px 25px 2px grey;
}

.Project-img--left {
  left: 32vw;
}

.Project-board {
  margin-top: 50px;
  width: 400px;
  padding: 25px;
  border-radius: 3px;
  font-size: 17px;
  z-index: 2;
}

.Project-board--left {
  position: absolute;
  text-align: left;
}

.Project-board--right {
  position: absolute;
  text-align: right;
  left: 50vw;
}

.Project-text {
  padding: 10px 0;
}

.Project-header {
  font-size: 28px;
  font-family: "Rowdies", cursive;
}

.Project-icon {
  margin-top: 15px;
  cursor: pointer;
}

.Project-icon:hover {
  cursor: pointer;
}

.Language-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 15px 0 10px;
}

.Language-list-elem {
  margin-right: 20px;
  color: rgb(136, 146, 176);
  font-size: 16px;
  margin-bottom: 7px;
  white-space: nowrap;
}
