
html {
	height: 100%;
}
body {
	font-family: Arial;
	background-color: fuschia;
	height: 100%;
	margin: 0px;
}

h1 {
	
}

body {
	margin: 0;
	padding: 0;
}

p {
	font-family: "Courier New", Courier, monospace;
	
}