.Navbar-all-container a {
  text-decoration: none;
  color: #767676;
}

.Navbar-all-container {
  position: fixed;
  top: 17px;
  left: 85vw;
  max-width: 15vw;
  max-height: 70vh;
  overflow: auto;

  margin-top: 23px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

  list-style: none;
  list-style-position: outside;
}

.Navbar-container {
  max-height: calc(70vh - 100px);
  overflow: hidden;
}

.Navbar {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.Navbar > li {
  padding: 3px;
}

.Navbar > li > a {
  display: block;
  padding: 4px 18px;
  font-size: 16px;
  font-weight: 500;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.Navbar .Navbar-link--active a {
  font-weight: 700;
  color: #000;
  background-color: transparent;
}

.Navbar-subheading-container > li {
  list-style: none;
  padding: 4px 0;
}

.Navbar-subheading-container > li > a {
  font-weight: 500;
  font-size: 14px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.Top-button {
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: 0 0;
  border: none;
  outline: 0;
  width: 40px;
  position: fixed;
  bottom: 25px;
  right: 30px;
  cursor: pointer;
  z-index: 3;
}

.Top-button img {
  width: 100%;
}
