.Navbar-link a {
  text-decoration: none;
  color: #767676;
}

.Navbar-link {
  display: block;
  padding: 4px 20px;
  font-size: 15px;
  font-weight: 500;
}

.Navbar-link--active a {
  font-weight: 600;
  color: #000;
  background-color: transparent;
  /* border-left: 2px solid #000; */
}

.Navbar-container {
  top: 17px;
  left: 1059px;

  position: fixed;
  /* top: 0; */
  max-width: 15vw;
  max-height: 70vh;
  overflow: auto;
  /* max-height: calc(70vh - 100px); */
  overflow: auto;
}

.Navbar-dropdown {
  position: fixed;
  top: 0;
  max-width: 15vw;
  max-height: 70vh;
  overflow: auto;
}

.Navbar {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.Navbar-subheading-container {
  list-style: none;
}
