.Writing-archive-container {
  margin: 40px 0 50px 850px;
  left: 850px;
}

.Writing-line--title {
  font-weight: 500;
  text-decoration: none;
  font-size: 20px;
}
.Writing-line-container {
  padding: 5px;
}

.Writing-line-container a:hover {
  text-decoration-color: rgb(16, 162, 245);
  border-bottom: 4px solid rgb(16, 162, 245);
}

.Writing-line--title:visited {
  color: black;
}

.Writing-line--publish {
  color: rgb(168, 178, 209);
  font-size: 14px;
  margin: 5px 0;
}

.Writing-page-container {
  margin: auto;
  width: 100%;
  display: block;
}

.Writing-page-content {
  position: relative;
}

.Writing-thought-container {
  position: absolute;
  left: 250px;
}

.Writing-thought-header {
  font-size: 28px;
  font-family: "Rowdies", cursive;
  margin-bottom: 10px;
}
