.Footer {
  line-height: 1;
  font-size: 16px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: auto;
  min-height: 70px;
  padding: 15px;
}

.Footer-credit {
  font-weight: 600;
  letter-spacing: 0.025em;
  font-family: Inconsolata, monospace;
  color: rgb(16, 162, 245);
  padding: 10px;
  text-decoration: none;
}

.Footer-credit:hover {
  cursor: pointer;
  color: rgb(16, 162, 245);
}
