.Footer {
  line-height: 1;
  font-size: 15px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: auto;
  min-height: 70px;
  padding: 15px;
}

.Footer-credit {
  font-weight: 700;
  letter-spacing: 0.03em;
  /* color: rgb(168, 178, 209); */
  color: rgb(16, 162, 245);
  padding: 10px;
  text-decoration: none;
}
